@font-face {
    font-family: "HarmonyOS Sans";
    src:
        url("./HarmonyOS_Sans_SC_Regular.ttf");
}
@font-face {
    font-family: "PingFang SC";
    src:
        url("./PingFang SC.ttf");
}
@font-face {
    font-family: "SourceSansCNM";
    src:
        url("./SourceHanSansCN-M.otf");
}
@font-face {
    font-family: "Bender";
    src:
        url("./Bender.otf");
}
@font-face {
    font-family: "NovecentoWide";
    src:
        url("./Novecento-Wide-Bold-2.otf");
}
@font-face {
    font-family: "FZTYSJ";
    src:
        url("./FangZhengTeYaSongJian.ttf");
}

body {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
}
.forbidSelect {
    -webkit-user-select: none;
    user-select: none;
}

.singleLineTextEl {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
}

.OverScrollBehavior-Contain .simplebar-content-wrapper {
    overscroll-behavior: contain;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    display:none;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #666;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

.object-cover {
    object-fit: cover;
}
.wh100 {
    width: 100%;
    height: 100%;
}

.noPointerEvents {
    pointer-events: none;
}
.allPointerEvents {
    pointer-events: all;
}